<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971370033594-kt0lrcms6ejdhs4gqsaqopun964ued6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971370033594-kt0lrcms6ejdhs4gqsaqopun964ued6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBUWl8Q9roYkSxZlvutXrAeonqSjcILmgI</string>
	<key>GCM_SENDER_ID</key>
	<string>971370033594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.its411.juen</string>
	<key>PROJECT_ID</key>
	<string>its411-project-2</string>
	<key>STORAGE_BUCKET</key>
	<string>its411-project-2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971370033594:ios:b451ff86e6fef54e25ad83</string>
</dict>
</plist>